.text{
    margin-left: 320px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}
.card {
display:flex;
    width: 200px;
    height: 300px;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 16px;
        margin-bottom: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #292a2a;
}
.card img {
    width:150px;
    height: 150px;
    border-radius: 8px;
    margin-bottom: 12px;
  }
  
  .card-body {
    padding: 12px;
  }
  
  .card-body h6 {
    margin-top: auto;
    font-size:20px;
    margin-bottom: 8px;
  }
  
  .card-body p {
    margin-bottom: 4px
  }
.container{
    display: flex;
    justify-content: space-between;
}