.up-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline:none;
    border:1px solid white;
    
    padding: 5px 20px 5px 20px;
    background-color: rgb(190, 227, 248);
   

}
    .up-contain{
        display: flex;
        align-items: center;
       color: #ffffff;
        justify-content: center;
        background-repeat: no-repeat;
        background-image: url("https://img.freepik.com/premium-photo/stack-four-books-wooden-table-against-background-chalk-board_582451-11.jpg?ga=GA1.1.1776648423.1721533730&semt=ais_user");    background-size: cover;
        height: 650px;
     
    }
    .up-body{
        display: flex;
        border-radius: 30px;
        align-items: center;
        color: #ffffff;
        justify-content: center;
        border: 2px solid rgba(255, 255, 255,.2) ;
        box-shadow: 0 0 10px rgba(255, 255, 255,.2);
        backdrop-filter: blur(10px);
        padding: 10px 10px 10px 10px;
    }



