.textfield {
    background-color: white;
    color: black;
    width: 500px;

}
.main button{
    outline:none;
    border:1px solid white;
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 5px 20px 5px 20px;
    margin-top: 20px;

}
.container{
    background-image: url("https://img.freepik.com/premium-photo/spiral-notebook-pen-wooden-board_275559-11474.jpg?w=996");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    margin-top: 50px;

    padding: 50px;
    

}

    